<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Sudoku</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>

    <section class="section" id="app">
            <div style="display: flex; justify-content: center;">
                <table class="table is-centered" @focusout="stop_edit">
                    <tr v-for="j in [0, 1, 2]">
                        <td v-for="i in [0, 1, 2]">
                            <span>
                                <input class="input" size="1" v-model="values[j][i]" :readonly="!editing[j][i]" :class="{'is-static': !editing[j][i]}" @click="start_edit(j, i)">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="has-text-success" v-if="is_valid">The values are valid</div>   
                <div class="has-text-danger" v-else>Error in values</div>
            </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="">License BSD</a>.
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js"></script>
    <script src="index.js"></script>
</body>

</html>